*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1350px;
    margin: auto;
    .cards{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .forms{
        display: flex;
        .form1{
            width: 40%;
            margin-left: 50px;
            margin-top: 40px;
        }
        .videos{
            width: 50%;
            margin: 10px 30px;
            text-align: center;
        }
    }
}