*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1350px;
    margin: auto;
    .cards{
        width: 100%;
        display: flex;
    }
    .forms{
        width: 40%;
        margin-left: 50px;
        margin-top: 40px;
    }
}