.card{
    width: 250px;
    height: 370px;
    margin: 40px;
    box-shadow:
  0 2px 2.2px rgba(0, 0, 0, 0.019),
  0 4.9px 5.3px rgba(0, 0, 0, 0.032),
  0 9.1px 10px rgba(0, 0, 0, 0.042),
  0 16.3px 17.9px rgba(0, 0, 0, 0.051),
  0 30.5px 33.4px rgba(0, 0, 0, 0.063),
  0 73px 80px rgba(0, 0, 0, 0.09)
;
    overflow: hidden;
    p{
        font-size: 15px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 10px;
    }
    span{
        margin-left: 10px;
        margin-top: 0;
        margin-bottom: 20px !important ;
    }

    img{
        width: 250px;
        height: 200px;
        
    }
    
    .btn{
        width: 80%;
        // align-items: center !important;
        margin-left: 10% !important;
    }
}